<div class="jumbotron">
	<h1>About Us</h1>
        <p class="lead" style="font-size: 20px">Created By <br>
        	<i><b>Phyo Min Htun</b></i> <br>(Front-End Developer)</p><br>
    <h1>How To ?</h1>
    <p class="lead" style="font-size: 17px">This app show you a 30 recent picture of Myanmar.<br><br>
       Just click on your preferred city and have a look.<br><br>

       Why do you have access to my pictures :o ?<br><br>

       Because you choose to make your Instagram stream public AND because you Geotagged your pictures.<br><br>

       How do I stop this?<br><br>

       Set your stream to "private" in Instagram. And/Or don't geotag your pictures. That way it won't show up on our website. (It will still be public and other services could still access it, but we don't access it.)<br><br>

       How can I be a part of it?<br><br>

       Install the free Instagram App on your phone.<br>
       Take a picture with Instagram in one of the cities mentioned above.<br>
       That's it. Your image just got published on InstaMyanmar<br></p>
</div>